Lenguaje de marcas/Fase3_XML/clasificacion/dtd/xml_clasificacion.dtd

<!ELEMENT COMPETICIONES (COMPETICION+)>
<!ELEMENT COMPETICION (NOMBRE_COMPETICION, JUEGO, FECHA_INICIO,FECHA_FIN,  LISTA_EQUIPOS)>
<!ATTLIST COMPETICION ID CDATA #REQUIRED>

<!ELEMENT LISTA_EQUIPOS (EQUIPO+)>

<!ELEMENT EQUIPO (NOMBRE_EQUIPO, PUNTOS)>
<!ATTLIST EQUIPO ID CDATA #REQUIRED>

<!ELEMENT NOMBRE_COMPETICION (#PCDATA)>
<!ELEMENT JUEGO (#PCDATA)>
<!ELEMENT FECHA_INICIO (#PCDATA)>
<!ELEMENT FECHA_FIN (#PCDATA)>

<!ELEMENT NOMBRE_EQUIPO (#PCDATA)>
<!ELEMENT PUNTOS (#PCDATA)>